
.todo-input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 500px;
    margin-bottom: 50px;
    & input{
        flex: 4;
        padding: 10px 8px;
        border-radius: 20px 0px 0px 20px;
        border: 2px solid var(--main-color);
        font-size: 1rem;

        &::placeholder {
            font-size: 1rem;
        }
    }

    & button{
        flex: 1;
        border-radius: 0px 20px 20px 0px;
        border: 0px solid black;
        cursor: pointer;
        background-color: var(--main-color);
        color: white;
        font-weight: bold;
        transition: all 0.3s linear;
        &:hover{
            opacity: 0.8;
        
        }
    }
}